body {
  background-color: var(--bg);
  color: var(--secondary);
  font-family: Helvetica, sans-serif;
  transition: background-color 5s ease, color 5s ease;

  display: grid;
  place-items: center;
  height:100vh;
}

.dashboard {
  display:flex;
  position:absolute;
  left:0;
  top: 0;
  flex-direction: column;
  justify-items: left;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  animation: spin var(--speed) linear infinite;
}

.object {
  position: absolute;
  width:50px;
  height:25px;
  background: var(--primary);
  border-radius: 100px / 50px;

  top: 0;
  left: 0;
  transform-origin: 0 0;
  
  transform: rotate(var(--angle)) translate(100px);
  transition: transform 0.6s ease, opacity 0.3s ease, scale 2s ease, color 2s ease
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.origin {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--accent);
  transform: translate(-50%, -50%);
}